.menu__selected{
  position: relative;
}

.menu__selected::after{
  content: '';
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 5px;
  height: 5px;
  background-color: rgb(253 186 116);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}