.services{
  @apply relative;
}

.services::after,.services::before{
  content: "";
  position: absolute;
  display: block;
  inset: 0;
  margin: auto;
  background-color: #d1d5db;
  @apply dark:bg-white/10
}

.services::after{
  /* خط عمودی */
  width: 1px;
  height: calc(100% + 1.25rem);
}
.services::before{
  /* خط افقی */
  width: calc(100% - 2rem);
  height: 1px;
}


@media screen and (min-width:480px){
  .services::after,.services::before{
    content: none;
  }
}